<div class="image">
    <figure id="canvas">
        <img src="{{instaImage}}" alt="" />
    </figure>
</div>
<div class=" filters">
    {{#each filters}}
    <div class="style" onclick="changeFilter('{{class}}')">
        <p>{{name}}</p>
        <figure class="{{class}}">
            <img src="{{../instaImage}}" class="demo" alt="">
        </figure>
    </div>
    {{/each}}
</div>