<div class="image">
    <figure id="canvas">
        <img src="{{instaImage}}" alt="" />
    </figure>
</div>
<div class="filters">
    {{#each filters}}
    <div class="style" onclick="changeFilter('{{class}}')">
        <p>{{name}}</p>
        <figure class="{{class}}">
            <img src="{{../instaImage}}" class="demo" alt="">
        </figure>
    </div>
    {{/each}}
</div>
<div class="main-controls">
    <div class="controls back" onclick="goBackTo('adjust')">Back</div>
    <div class="controls add-filters" onclick="showProfile()">Finish</div>
</div>
